In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


sns.set()
%matplotlib inline
sns.set(style='darkgrid')

In [9]:
df = pd.read_csv('data\pokemon.csv')

In [10]:
df.head()

         Name   hp  attack  defense  sp.atk  sp.def  speed
0     Victini  100     100      100     100     100    100
1   Bulbasaur   45      49       49      65      65     45
2     Ivysaur   60      62       63      80      80     60
3    Venusaur   80      82       83     100     100     80
4  Charmander   65      52       43      60      50     65

In [11]:
df.describe()

               hp      attack     defense      sp.atk     sp.def       speed
count  809.000000  809.000000  809.000000  809.000000  809.00000  809.000000
mean    65.677379   75.933251   71.632880   69.315204   69.79110   65.677379
std     27.661515   29.456429   29.832743   29.340326   27.26206   27.661515
min      5.000000    5.000000    5.000000   10.000000   20.00000    5.000000
25%     45.000000   55.000000   50.000000   45.000000   50.00000   45.000000
50%     64.000000   75.000000   67.000000   65.000000   65.00000   64.000000
75%     85.000000   95.000000   88.000000   90.000000   85.00000   85.000000
max    160.000000  181.000000  230.000000  173.000000  230.00000  160.000000